node_modules/
dist/
api/*.js
api/*.js.map
api/*.d.ts
api/*.d.ts.map
.env
.env.local
.env*.local
.DS_Store
*.log
*.swp
*.swo
*~
.vscode/
.idea/
*.iml
.project
.classpath
.c9/
*.class
*.log
.pytest_cache/
.mypy_cache/
.env.production.local
.env.test.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.coverage
.nyc_output
.grunt
.next
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
build/
dist/
coverage/
.vercel
.output
.env.*.local
